.linkCard {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 0px 0px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  height: 200px;
}

.link {
  font-family: Lucida Console;
  font-size: 15px;
  font-weight: 200;
  line-height: 20px;
  margin-bottom: 25px;
  color: white;
}

.link.active {
  color: black;
}
